@model IEnumerable<BisikletEshop.Models.Siparis>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdSoyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeslimatAdresi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sehir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonNumarasi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EPostaAdresi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tutar)₺
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdSoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeslimatAdresi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sehir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonNumarasi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EPostaAdresi)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Tutar)₺
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SiparisId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SiparisId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SiparisId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
