@model IEnumerable<BisikletEshop.Models.İletisim>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdSoyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MesajMetni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarih)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OkunmaTarihi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdSoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MesajMetni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OkunmaTarihi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.İletisimId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.İletisimId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.İletisimId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
